/*targhetta utente*/
.usr img {
  width: 2em;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 0.5em 0 0.5em;

}

.usr {
  white-space: nowrap;
  text-decoration: none;
}

/*content*/
.content {
  width:80%;
  display: inline-block;
}

.content input[type="button"], input[type="submit"] {
  font-weight: bold;
  background: linear-gradient(to bottom, #70c653, #007f00);
  border: 1px outset #444;
  border-radius: 0.2em;
  outline: none;
  outline: none;
  padding: 0.3em;
  color: #f2f2f2;
}

/* input::-moz-focus-inner {
  border: 0;
} */

.post_titolo {
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.5em;
  color: #c04040;
  text-align: center;
  padding: 1em 0 1em 0;
}

#doit fieldset {
  width: 30%;
  float: right;
  clear: both;
  margin: 0 0 2% 0;
}

#doit input[type="button"] {
  width: 100%;
  font-size: 2em;
}



#titolo_post {
  text-align: center;
  font-size: 300%;
  background-color: #70c653;
  padding: 0.2em;
}

#post_immagineiniziale {
  width: 100%;
  height: 15em;
  display: block;
}

#post_core {
  display: inline-block;
  margin-top: 2%;
  width: 68%;
  background-color: #fff;
  border-radius: 0.5em;
}

#post_core_descrizione {
  margin: 0;
  padding: 0 2% 2% 2%;
  line-height: 1.5em;
}

#post_informazioni {
  background-color: #fff;
  margin-top: 2%;
  clear: both;
  width: 30%;
  float: right;
  border-radius: 0.5em;
}

#post_informazioni_lista, #post_informazioni_listavolontari {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.post_informazioni_record {
  background-position: center top;
  background-size: 3em;
  background-repeat: no-repeat;
  padding: 3em 0;
}

#post_informazioni_utente{
  background-image: url("../img/utentenero_icon.png");
}

#post_informazioni_data{
  background-image: url("../img/post_calendario_icon.png");
}

#post_informazioni_ora{
  background-image: url("../img/post_calendario_icon.png");

}

#post_informazioni_posizione{
  background-image: url("../img/post_localizzazione_icon.png");
}

#post_informazioni_volontari{
  background-image: url("../img/volontari_icon.png");
}

#post_listavolontari {
  padding: 0 0 2% 0;
  margin: 2% 0;
  clear: both;
  width: 30%;
  float: right;
  background-color: #fff;
  border-radius: 0.5em;
  list-style-type: none;
}

#post_listavolontari ol {
  list-style-type: none;
}

#post_listavolontari li {
  margin: 0em auto;
  border-bottom: 1px solid #e2e2e2;
  width: 80%;
  padding: 2% 0%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#post_listavolontari a {
  width: 92%;
  margin: 0 4%;
}

#post_social {
  background-color: #fff;
  border-radius: 0.5em;
  width: 66%;
  display: block;
  margin: 2% 0%;
  padding: 1%;
}

.post_infobox {
  float: left;
  clear: both;
  margin: 2% 1%;
}

#post_social_fotoupload {
  max-width: 20%;
  margin-left: 2%;
  float: left;
}

#post_sfoglia {
  margin: 2%;
  float: right;
  width: 66%;
  text-align: center;
}

#post_social_sfoglia {
  margin: 2% 0% 0% 2%;
  width: 20%;
  clear: left;
  float: left;
}

#post_social_textarea {
  padding: 1%;
  margin: 1% 1% 3% 1%;
  width: 96%;
  resize: vertical;
  background-color: #70c653;
}

#post_social_invia {
  width: 98%;
  margin: 0 0 2% 1%;
  clear: both;
}

.commento {
  width: 96%;
  margin: 2% 2% 1% 2%;
  display: inline-block;
  padding-bottom: 2%;
  border-bottom: 2px double #ccc;

}

.autore_commento {
  width: 100%;
  padding: 0.5em 0;
  background-color: #70c653;
}

.commento a {
  display: inline-block;
}

.commento span {
  float: right;
  margin: 0.5em 0.5em 0 0;
}

.commento > p {
  width: 66%;
  padding: 2% 0 0 0;
}

.user_image {
  max-width: 30%;
  margin-right: 0;
  float: right;
  margin: 2% 0;
}

#post_immaginepreview {
  width: 15%;
  margin: auto;
  display: block;
}

#postEdit_core_titolo_input {
  display: block;
  margin: auto;
}

.label {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1% 0 1% 0;
}

#post_social_sfoglia2 {
  display: block;
  margin: 2% auto;
}

#postEdit_social_textarea {
  display: block;
  width: 80%;
  resize:vertical;
}

#postEdit_informazioni_lista {
  list-style-type: none;
  padding: 0;

}
#postEdit_informazioni_lista li {
  width: 100%;
  padding: 3em 0 0 0;
  text-align: center;
}

#postEdit_informazioni_data_input, #postEdit_informazioni_ora_input, #postEdit_informazioni_posizione_input {
  display: block;
  margin: 1% auto;
}

#postEdit_core {
  width: 50%;
  display: inline-block;
}

#postEdit_informazioni {
  width: 50%;
  float: right;
}
