* {
  padding: 0em;
  margin: 0em;
  font-family: Verdana, Geneva, sans-serif;
  color: #004c07;
  outline: 0;
font-family: 'Ubuntu', sans-serif;
}



abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

/********** HEADER **********/
#header {
  background-color: #70c653;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  line-height: 3em;
}

#info_utente {
  float: left;
  display: inline-block;
}

#info_utente img {
  display: inline-block;
  vertical-align: middle;
  height: 3em;
  width: 3em;
}

#info_utente p {
  float: right;
}

#header h1 {
  font-size: 2.5em;
  width: 50%;
  margin: 0em auto;
}

#hamburger {
  display: none;
}

#breadcrumb p{
  background-color: #006837;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

/********** PAGE-CENTRAL-PART **********/
#page_central_part {
  max-width: 1024px;

  margin: auto;
}

/********** MENU **********/
#menu {
  width: 20%;
  /*  padding: 1em 0em 1em 1em;*/
  /*border-left: 1pt solid #000000;
  border-right: 1pt solid #000000;
  border-bottom: 1pt solid #000000;*/
  margin-bottom: 0.2em;
  line-height: 2em;
  float:left;
  overflow: hidden;
}

#menu ul#menu_up {
  margin-bottom: 20em;
}

#menu ul#menu_down {
  padding-left: 1em;
}

#menu ul {
  list-style-type: none;
}

#menu a {
  text-decoration: none;
  font-weight:css print dont change font bold;
}

#menu a:link {
  color: #70c653;
}

#menu a:visited {
  color: #006837;
}

#menu_profilo {
  background-image: url("../img/menu_profilo_icon.png");
  background-position: left center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  padding-left: 2.6em;
}

#menu_bacheca {
  background-image: url("../img/menu_bacheca_icon.png");
  background-position: left center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  padding-left: 2.6em;
}

#menu_nuovo_post {
  background-image: url("../img/menu_nuovo_icon.png");
  background-position: left center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  padding-left: 2.6em;
}

#menu_help {
  background-image: url("../img/menu_help.png");
  background-position: left center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  padding-left: 2.6em;
}




body {


  background-color: #f0f0f0;
  /* background-image: url("../img/_template_foto/background.png"); */
}

/*usr*/
.usr img {
  width: 2em;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #004c07;
  margin: 0 0.5em 0 0.5em;

}

.usr {
    /* Required for text-overflow to do anything */
    white-space: nowrap;
}



.content {
  width:80%;
  display: inline-block;
}

/*content*/
.content h2 {
  color: #c04040;
  text-align: center;
    padding: 1em 0 1em 0;
}


/*pulsanti stile sito*/
.buttons {
  font-weight: bold;
  background: linear-gradient(to bottom, #70c653, #007f00);
  border: 1px outset #444;
  border-radius: 0.2em;
  outline: none;
  box-shadow: 2px 5px 5px 0px #333;
  outline: none;
  padding: 0.3em;
}

input::-moz-focus-inner {
  border: 0;
}

#doit_button{
  width: 68%;
  margin: 0.5em 0;

  font-size: 2em;
}

#titolo_post {
  text-align: center;
  font-size: 300%;
  padding: 0.5em 0.5em 0.5em 0;
    background-color: #70c653;

}


#post_immagineiniziale {
  display: block;
  margin: 2% auto 0 auto;
  width: 100%;
}

#post_core {

  overflow: hidden;
  display: inline-block;
  margin-top: 2%;
  width: 68%;
  background-color: #fff;
  border-radius: 0.5em;
  height: 35em;
}



#post_core_descrizione {
  padding: 1em;
  line-height: 1.5em;
  overflow-y: scroll;
height: 12em;

}

/*Informazioni*/
#post_informazioni {

  background-color: #fff;
  margin-top: 2%;
  clear: both;
  width: 30%;
    float: right;
    border-radius: 0.5em;

  height: 40em;
}

#post_informazioni_lista, #post_informazioni_listavolontari {
  margin: 0;
  padding: 0;
  list-style-type: none;
    text-align: center;

}


.post_informazioni_record {
  background-position: center top;
  background-size: 3em;
  background-repeat: no-repeat;
    padding-top: 3em;

}


#post_informazioni_utente{
  background-image: url("../img/utentenero_icon.png");


}
#post_informazioni_data{
  background-image: url("../img/post_calendario_icon.png");
}
#post_informazioni_ora{
  background-image: url("../img/post_calendario_icon.png");

}
#post_informazioni_posizione{
  background-image: url("../img/post_localizzazione_icon.png");
}
#post_informazioni_volontari{
  background-image: url("../img/volontari_icon.png");
}

#post_informazioni_listavolontari {
  max-height: 11em;
    overflow-y:auto;
}

#post_informazioni_listavolontari li {
  margin: 0em auto;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  padding: 2% 0%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


}
/*Foto e commenti*/
#post_social {
  padding-bottom: 1em;


}

.post_infobox {
  padding: 2%;
}

#post_social_fotoupload {
  max-width: 20%;
  margin-left: 2%;
  float: left;
}

#post_social_sfoglia {
  margin: 2% 0% 2% 2%;
    width: 20%;
  clear: left;
  float: left;
}


#post_social_textarea {
  padding: 2%;
  margin: 0 2% 2% 2%;
  width: 70%;
  border: 0;
  resize:vertical;
}

#post_social_invia {
  width: 96%;
  margin: 0% 2% 2% 2%;
  clear: both;
}


.commento {

  margin: 2% 0 0 0;
  display: inline-block;
  padding-bottom: 2%;
  border-bottom: 2px double #ccc;

}

.autore_commento {
  display: block;
  margin: 0 0 2% 2%;
}


.commento p {
  padding: 1em 2% 1em 0;
  width: 66%;
  vertical-align: middle;
  display: inline-block;
}

.user_image {
  max-width: 30%;
  margin-right: 0;
  float: right;
}




#post_immaginepreview {
  width: 15%;
  margin: auto;
  display: block;
}

#postEdit_core_titolo_input {
  display: block;
  margin: auto;
}

.label {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1% 0 1% 0;
}

#post_social_sfoglia2 {
  display: block;
  margin: 2% auto;
}

#postEdit_social_textarea {
  display: block;
  width: 80%;
  resize:vertical;
}

#postEdit_informazioni_lista {
  list-style-type: none;
  padding: 0;

}
#postEdit_informazioni_lista li {
  width: 100%;
  padding: 3em 0 0 0;
  text-align: center;


}

#postEdit_informazioni_data_input, #postEdit_informazioni_ora_input, #postEdit_informazioni_posizione_input {
  display: block;
  margin: 1% auto;
}

#postEdit_core {
  width: 50%;
  display: inline-block;
}


#postEdit_informazioni {
  width: 50%;
  float: right;
}
