* {
  padding: 0em;
  margin: 0em;
  color: #004c07;
  outline: 0;
  border:0;
  font-family: 'Ubuntu', sans-serif;
}

body {


  background-color: #f0f0f0;
  /* background-image: url("../img/_template_foto/background.png"); */
}
abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

/********** HEADER **********/
#header {
  background-color: #339933;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  line-height: 3em;
}

#info_utente {
  float: left;
  display: inline-block;
}

#info_utente img {
  display: inline-block;
  vertical-align: middle;
  height: 3em;
  width: 3em;
}

#info_utente p {
  float: right;
}

#header h1 {
  font-size: 2.5em;
  width: 50%;
  margin: 0em auto;
}

#hamburger {
  display: none;
}

#breadcrumb p{
  background-color: #006837;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

/********** PAGE-CENTRAL-PART **********/
#page_central_part {
  max-width: 1024px;

  margin: auto;
}

/********** MENU **********/
#menu {
  width: 20%;
  /*  padding: 1em 0em 1em 1em;*/
  /*border-left: 1pt solid #000000;
  border-right: 1pt solid #000000;
  border-bottom: 1pt solid #000000;*/
  margin-bottom: 0.2em;
  line-height: 2em;
  float:left;
  overflow: hidden;
}

#menu ul#menu_up {
  margin-bottom: 20em;
}

#menu ul#menu_down {
  padding-left: 1em;
}

#menu ul {
  list-style-type: none;
}

#menu a {
  text-decoration: none;
  font-weight:css print dont change font bold;
}

#menu a:link {
  color: #339933;
}

#menu a:visited {
  color: #006837;
}

#menu_profilo {
  background-image: url("../img/menu_profilo_icon.png");
  background-position: left center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  padding-left: 2.6em;
}

#menu_bacheca {
  background-image: url("../img/menu_bacheca_icon.png");
  background-position: left center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  padding-left: 2.6em;
}

#menu_nuovo_post {
  background-image: url("../img/menu_nuovo_icon.png");
  background-position: left center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  padding-left: 2.6em;
}

#menu_help {
  background-image: url("../img/menu_help.png");
  background-position: left center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  padding-left: 2.6em;
}

/********** CONTENT **********/

/*
.content {
max-width: 1024px;
margin: 0% 0% 0% 20%;
}

.content h1, h2, h3, h4 {
padding: 2%;
text-align: center;
}

.content h1, h2 {
background-color: #393;
color: #FFF;
}

.content fieldset {
border: 0;
}

.content{
display: block;
}

input {
display: block;
margin: auto;
padding: 1%;
font-weight: bold;
color: #FFF;
background: linear-gradient(to bottom, #393, #007f00);
border: 1px outset #444;
border-radius: 0.2em;
outline: none;
box-shadow: 2px 5px 5px 0px #333;
outline: none;
}

input::-moz-focus-inner {
border: 0;
}

input:active {
box-shadow: 2px 5px 5px 0px #333 inset;
}

input#doit {
margin: 0 auto;
width: 50%;
margin-bottom: 5%;
font-size: 300%;
}

#info iframe {
width: 100%;
border: 0;
}

.blocco {
background: #86d85d;
}

#core {
float: left;
width: 70%;

}

#descrizione {
text-justify: inter-word;
padding: 5%;
}

img#foto_iniziale {
display: block;
width: 92%;
padding: 2%;
margin: 2% auto;
background-color: #fff;
border-radius: 0.4em;
}

#info {

width: 28%;
float: right;
}

#info p {
text-align: center;
padding: 15% 2% 2% 2%;
}

#autore_label, #data_label, #posizione_label, #volontari_label {
background-position: top center;
background-size: 15%;
background-repeat: no-repeat;
}

#autore_label {
background-image: url("../img/utentenero_icon.png");
}

#data_label {
background-image: url("../img/post_calendario_icon.png");
}

#posizione_label {
background-image: url("../img/post_localizzazione_icon.png");
}

#volontari_label {
background-image: url("../img/volontari_icon.png");
}

input#sfoglia {
clear: left;
float: left;
width: 20%;
margin: 1% 1% 1% 2%;
font-size: 100%;
}

#foto_upload {
float: left;
width: 20%;
margin: 1% 1% 1% 2%;
}

#campo_testo {
border: 0;
float: right;
width: 70%;
height: 8em;
margin: 1% 2% 1% 1%;
padding: 2%;
border-radius: 0.4em;
resize: none;
}

input#invia {
display: inline-block;
clear: left;
width: 96%;
margin: 1% 2% 2% 2%;
font-size: 100%;
}

#lista_utenti {
list-style-type: none;
overflow: hidden;
white-space: pre-line;

width: 90%;

}
#lista_utenti li {
margin: 2%;

}

#lista_utenti img {
width: 3em;
height: 3em;
overflow: hidden;
border-radius: 50%;
}
#lista_utenti a img {
vertical-align: middle;
}

#social {
width: 70%;

}

#descrizione_commenti {
width: 70%;
padding: 0.5% 0% 0.5% 0%;
}

.commit {
width: 70%;
}

.commit img {
width: 96%;
margin: 1% 2% 1% 2%;
}

.commit p {
padding: 1% 2% 1% 2%;

}

.core_postcard {
width: 100%;
margin: 0% auto 1% auto;
}

.info_postcard {
width: 100%;
margin: 0% auto 1% auto;
}

.foto_postcard {
display: block;
width: 40%;
padding: 2%;
margin: 2% auto;
background-color: #fff;
border-radius: 0.4em;
}

.info_postcard p {
float: left;
width: 25%;
}

.postcard {
width: 33%;
background-color: #393;
}
*/
/********** FOOTER **********/
#footer {
  clear: left;
  background-color: #006837;
  color: #FFFFFF;
  border-radius: 0.75em;
  text-align: center;
  font-style: italic;
  padding-top: 0.25em;
}

#footer a {
  display: inline-block;
  vertical-align: middle;
}
