* {
  padding: 0em;
  margin: 0em;
  font-family: Verdana, Geneva, sans-serif;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

body {
  background-image: url("../img/background_header.png");
  background-size: 100% 4em;
  background-repeat: repeat-x;
  max-width: 1024px;
  margin: auto;
}

/********** Targa Utente **********/
.usr img {
  width: 2em;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 0.5em 0 0.5em;
}

.usr {
  white-space: nowrap;
  text-decoration: none;
}

/********** HEADER **********/
#header {
  background-color: #70c653;
  color: #006837;
  text-align: center;
  height: 4em;
}

#info_utente {
  float: left;
  display: inline-block;
  margin-top: 0.5em;
}

#info_utente img {
  display: inline-block;
  vertical-align: middle;
  height: 3em;
  width: 3em;
}

#info_utente p {
  float: right;
}

#header h1 {
  font-size: 3em;
  width: 50%;
  margin: 0em auto;
}

#hamburger {
  display: none;
}

#breadcrumb {
  background-color: #006837;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

/********** MENU **********/
#menu {
  width: 18%;
  margin-bottom: 0.2em;
  line-height: 2em;
  float:left;
  overflow: hidden;
}

#menu ul#menu_up {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #339933;
  margin-bottom: 25%;
}

#menu ul#menu_down {
  padding-left: 1em;
}

#menu ul {
  list-style-type: none;
}

#menu a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 100%;
}

#menu a:link {
  color: #339933;
}

#menu a:visited {
  color: #006837;
}

#menu_profilo {
  background-image: url("../img/menu_profilo_icon.png");
  background-position: left center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  padding-left: 2.6em;
}

#menu_bacheca {
  background-image: url("../img/menu_bacheca_icon.png");
  background-position: left center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  padding-left: 2.6em;
}

#menu_nuovo_post {
  background-image: url("../img/menu_nuovo_icon.png");
  background-position: left center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  padding-left: 2.6em;
}

#menu_help {
  background-image: url("../img/menu_help.png");
  background-position: left center;
  background-size: 2.5em;
  background-repeat: no-repeat;
  padding-left: 2.6em;
}

/********** CONTENT **********/
#error_404 {
  margin-left: 20%;
  padding: 1em;
  overflow: hidden;
}

#error_404 p {
  margin: 1em;
  text-align: center;
  font-size: x-large;
}

#error_404 img{
  margin-left: -5%;
}

/********** FOOTER **********/
#footer {
  clear: left;
  background-color: #006837;
  color: #FFFFFF;
  border-radius: 0.25em;
  text-align: center;
  font-style: italic;
  padding-top: 0.25em;
}

#footer a {
  display: inline-block;
  vertical-align: middle;
}
