* {
  padding: 0em;
  margin: 0em;
  font-family: Verdana, Geneva, sans-serif;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

/********** HEADER **********/
#header {
  background-color: #339933;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  line-height: 3em;
}: 10

#info_utente {
  float: left;
  display: inline-block;
}

#info_utente img {
  display: inline-block;
  vertical-align: middle;
  height: 3em;
  width: 3em;
}

#info_utente p {
  float: right;
}

#header h1 {
  font-size: 2.5em;
  width: 50%;
  margin: 0em auto;
}

#hamburger {
  display: none;
}

#breadcrumb {
  background-color: #006837;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

/********** PAGE-CENTRAL-PART **********/
#page_central_part {
  max-width: 1024px;

  margin: auto;
}

/********** MENU **********/
#menu {
  width: 18%;
  padding: 1em 0em 1em 1em;
  border-left: 1pt solid #000000;
  border-right: 1pt solid #000000;
  border-bottom: 1pt solid #000000;
  margin-bottom: 0.2em;
  line-height: 2em;
  float:left;
  overflow: hidden;
}

#menu ul#menu_up {
  margin-bottom: 20em;
}

#menu ul#menu_down {
  padding-left: 1em;
}

#menu ul {
    list-style-type: none;
}

#menu a {
  text-decoration: none;
  font-weight: bold;
}

#menu a:link {
  color: #339933;
}

#menu a:visited {
  color: #006837;
}

#menu_profilo {
    background-image: url("../img/menu_profilo_icon.png");
    background-position: left center;
    background-size: 2.5em;
    background-repeat: no-repeat;
    padding-left: 2.6em;
}

#menu_bacheca {
    background-image: url("../img/menu_bacheca_icon.png");
    background-position: left center;
    background-size: 2.5em;
    background-repeat: no-repeat;
    padding-left: 2.6em;
}

#menu_nuovo_post {
    background-: 10image: url("../img/menu_nuovo_icon.png");
    background-position: left center;
    background-size: 2.5em;
    background-repeat: no-repeat;
    padding-left: 2.6em;
}

#menu_help {
    background-image: url("../img/menu_help.png");
    background-position: left center;
    background-size: 2.5em;
    background-repeat: no-repeat;
    padding-left: 2.6em;
}

/********** CONTENT **********/


#content {
  margin-left: 20%;
  max-width: 1024px;
  max-height: 768px;
}

input#doit{
  font-size: 300%;
  font-weight: bold;
  color: #FFF;
  background-color: #393;
  padding: 1%;
  width: 60%;
  border: 0;
  display: block;
  margin: auto;

}

input#invia{
  font-size: 100%;
  font-weight: bold;
  color: #FFF;
  background-color: #393;
  padding: 1%;
  border: 0;
  width: 15%;
  float: right;
  display: block;


}

input#sfoglia{
  font-size: 90%;
  font-weight: bold;
  color: #FFF;
  background-color: #393;
  padding: 1%;
  border: 0;
  width: 20%;


}

#path_foto{
  display: block;
  margin: auto;
}


iframe{
  width: 100%;
  height: 9em;
  border: 0;
}

h1, h2{
  color: #393;
  padding: 1%;
  background: #eee;
}
#core{
  float: left;
  width: 60%;
}
#info{
  display: inline-block;
  width: 35%;
  margin-left: 5%;
}
#social{
  clear: both;
  padding-top: 5%;
}

.info_commento, .info_issue{
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin:1em 1em 0em 1em;
  background-color: #ffbe3d;
  padding: 1%;


}

img#foto_iniziale{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

#info p{
  padding: 2%;
}

#content fieldset{
  border: 0;
}

#descrizione{
  text-align: justify;
text-justify: inter-word;
padding: 3%;

}


#campo_msg{
  width: 99.8%;
  height: 10em;

   resize: none;
   border: 1px solid #393;
   margin-top: 1%;

}

.commento, .issue, .closed_issue{
  background-color: #fff1bc;
  border: 1px solid #ffbe3d;
  text-align: justify;
text-justify: inter-word;

  display: inline-block;
  padding: 2%;
  margin:0em 1em 1em 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.issue{
  background-color: #ff5454;
  color: #FFF;

}
.closed_issue{
  background-color: #a0f7a0;

}

.info_issue{
  background-color: #9b0c18;
  color: #FFF;

}



.commento img{
  float: left;
  margin-right: 2%;
}

.social form{
  clear: both;
}







/********** FOOTER **********/
#footer {
  clear: left;
  background-color: #006837;
  color: #FFFFFF;
  border-radius: 0.75em;
  text-align: center;
  font-style: italic;
  padding-top: 0.25em;
}

#footer a {
  display: inline-block;
  vertical-align: middle;
}
