
.content {

  width: 100%;
  margin: 0%; /*no spazio per menu a sx*/
}



#doit fieldset {
  width: 96%;
  margin: 0 2% 2% 2%;
}


#post_core {
  clear: both;
  margin: 0% 0.2% 2% 2%;
  width: 96%;
}



#post_core_descrizione {
  padding: 0 2% 2% 2%;
}

/*Informazioni*/
#post_informazioni {
  width: 96%;
  margin: 2%;
}


.post_informazioni_record {
  float: left;
  width: 41%;
}
#post_informazioni_utente {
  margin: 0% 3% 3% 6%;
}
#post_informazioni_data {
  margin: 0% 6% 3% 3%;
}
#post_informazioni_posizione {
  margin: 0% 3% 3% 6%;
}
#post_informazioni_volontari {
  margin: 0% 6% 3% 3%;
}

/*Foto e commenti*/
#post_social {
  padding: 0;
  margin: 0 2%;
  width: 96%;
}

#post_sfoglia {
  text-align: left;
}
#post_listavolontari {
  display: none;
}



#post_social_textarea {
  margin: 1% 1%;
  width: 96%;
  border: 0;
}

.user_image {
  float: none;
  max-width: 100%;
}

.commento > p {
    width: 96%;
    margin: 0 2% 2% 2%;
