/********** HEADER **********/
#header {
  line-height: 2em;
}

#info_utente img {
  height: 2em;
  width: 2em;
}

#info_utente p {
  display: none;
}

#header h1 {
  font-size: 1.5em;
}

#hamburger {
  display: inline-block;
  float: right;
}

#hamburger img {
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em;
}

#breadcrumb {
  font-size: 0.8em;
}

/********** PAGE-CENTRAL-PART **********/
#page_central_part {
  max-width: none;
  margin: 0em;
}

/********** MENU **********/
#hamburger:hover + #menu {
  visibility: visible;
  right: 0%;
}

#menu {
  background-color: #FFFFFF;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: -125%;
  float:none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  visibility: hidden;
}

/********** CONTENT_REGISTRAZIONE**********/

#registrazione_e_login {
  max-width: 1024px;
  margin-left: 0%;
  padding: 0em;
}

#registrazione_immagine_profilo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: auto;
}

#registrazione_e_login h1, h2{
  font-size: 1.5em;
}


#login_email, #login_password, #registrazione_nome, #registrazione_cognome, #registrazione_data_di_nascita, #registrazione_codice_fiscale, #registrazione_email, #registrazione_telefono, #registrazione_password, #registrazione_conferma_password {
  padding: 1%;
}

#label_login_email, #label_login_password, #label_registrazione_nome, #label_registrazione_cognome, #label_registrazione_data_di_nascita, #label_registrazione_codice_fiscale, #label_registrazione_email, #label_registrazione_telefono, #label_registrazione_password, #label_registrazione_conferma_password {
  padding: 1%;
}

#registrazione_e_login input[type=submit] {
  margin-top: 3.5vw;
  margin-bottom: 3.5vw;
}

#registrazione fieldset {
  width: 96%;
  padding: 2%;
}

/********** FOOTER **********/
#footer {
  margin-top: 0em;
}
