/********** HEADER **********/
#header {
  line-height: 2em;
}

#info_utente img {
  height: 2em;
  width: 2em;
}

#info_utente p {
  display: none;
}

#header h1 {
  font-size: 1.5em;
}

#hamburger {
  display: inline-block;
  float: right;
}

#hamburger img {
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em;
}

#breadcrumb {
  font-size: 0.8em;
}

/********** PAGE-CENTRAL-PART **********/
#page_central_part {
  max-width: none;
  margin: 0em;
}

/********** PAGE-CENTRAL-PART-PROFILO**********/

#profilo {
  margin-left: auto;
}

#profilo_nome_cognome {
  width: 100%;
  word-break: break-all;
}


#profilo_data_di_nascita img {
  width: 10%;
}

#profilo_data_di_nascita {
  width: 100%;
}

#profilo_biografia {
  padding-top: 5%;
}

#profilo_contributi {
  margin-top: 5%;
}

#profilo_table_contributi {
  width: 100%;
}

/********** MENU **********/
#hamburger:hover + #menu {
  visibility: visible;
  right: 0%;
}

#menu {
  background-color: #FFFFFF;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: -125%;
  float:none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  visibility: hidden;
}
