/********** HEADER **********/
#header {
  line-height: 2em;
}

#info_utente img {
  height: 2em;
  width: 2em;
}

#info_utente p {
  display: none;
}

#header h1 {
  font-size: 1.5em;
}

#hamburger {
  display: inline-block;
  float: right;
}

#hamburger img {
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em;
}

#breadcrumb {
  font-size: 0.8em;
}

/********** PAGE-CENTRAL-PART **********/
#page_central_part {
  max-width: none;
  margin: 0em;
}

/********** MENU **********/
#menu {
  display: none;
  width: 50%;
  float: none;
  border: 0;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

#menu ul#menu_up {
  margin-bottom: 3em;
}

#menu ul#menu_down {
  padding-left: 0;
}

#menu_help, #menu_profilo, #menu_bacheca, #menu_nuovo_post {
  padding-left: 0;
}

/********** FOOTER **********/
#footer {
  font-size: 0.5em;
}
#footer a {
  display: none;
}
