* {
  margin: 0em;
  font-family: Verdana, Geneva, sans-serif;
  color: #004c07;
}

body {
  background-color: #fafafa;
}

/*usr*/
.usr img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #004c07;
  margin: 0 0.5em 0 0.5em;
}




/*content*/
.content h2 {
  text-align: center;
  padding: 0.2em 0 0.2em 0;
  width: 90%;
  margin: auto;
}

/*pulsanti stile sito*/
.buttons {
  font-weight: bold;
  color: #f2f2f2;
  background: linear-gradient(to bottom, #393, #007f00);
  border: 1px outset #444;
  border-radius: 0.2em;
  outline: none;
  box-shadow: 2px 5px 5px 0px #333;
  outline: none;
  font-size: 2em;
}

input::-moz-focus-inner {
  border: 0;
}

#doit_button{
  width: 30%;
  margin: 0 35% 2% 35%;
  padding: 0.2em;

}

#post_titolo {
  text-align: center;
  width: 80%;
  display: inline-block;
}

#post_immagineiniziale {
  float: right;
  width: 20%;
}

/*core*/
#post_core {
  width: 80%;

  border-bottom: 4px solid #004c07;
}

#post_core_descrizione {
  background-color: #efd867;
  margin: 0.5em 10% 2em 10%;
  padding: 1em;
  border-radius: 10px;
}

/*Informazioni*/
#post_informazioni {
  clear: both;
  width: 20%;
    float: right;

}

#post_informazioni_lista, #post_informazioni_listavolontari {
  margin: 0;
  padding: 0;
  list-style-type: none;
    text-align: center;
}


.post_informazioni_record {
  background-position: center top;
  background-size: 3em;
  background-repeat: no-repeat;
    padding-top: 3em;

}


#post_informazioni_utente{
  background-image: url("../img/utentenero_icon.png");


}
#post_informazioni_data{
  background-image: url("../img/post_calendario_icon.png");
}
#post_informazioni_ora{
  background-image: url("../img/post_calendario_icon.png");

}
#post_informazioni_posizione{
  background-image: url("../img/post_localizzazione_icon.png");
}
#post_informazioni_volontari{
  background-image: url("../img/volontari_icon.png");
}

#post_informazioni_listavolontari li {
  margin: 0.3em 0 0.3em 0;
}
/*Foto e commenti*/
#post_social {
  width: 80%;
}
