* {
    padding: 0em;
    margin: 0em;
    font-family: "Times New Roman", Times, serif;
}

body {
    margin-top: 10mm;
    margin-left: 10mm;
    margin-right: 10mm;
    margin-bottom: 7mm;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

#header {
    text-align: center;
}

#header h1 {
  font-family: Verdana, Geneva, sans-serif;
}

#info_utente {
  display: none;
}

#hamburger {
  display: none;
}

#breadcrumb {
    text-align: center;
}

#menu {
  display: none;
}

#footer {
  text-align: center;
  font-style: italic;
  padding-top: 0.25em;
}

#footer a {
  display: none;
}

/******* CSS PROFILO *******/

#profilo h1 {
  font-size: 3vw;
}

#profilo_nome_cognome {
  width: 100%;
}

#profilo_nome_cognome img {
  vertical-align: middle;
  height: 400px;
  width: auto;
}

#profilo_data_di_nascita ul {
  list-style-type: none;
}

#profilo_data_di_nascita img {
  width: 2%;
}

#profilo_data_di_nascita {
  width: 100%;
}

#profilo_biografia {
  padding-top: 2%;
}

#profilo_contributi {
  margin-top: 2%;
}

#profilo_radio_button {
  display: none;
}

#profilo_table_contributi {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#profilo_colonna_data, #profilo_colonna_stato_attivita {
  width: 20%;
}

#profilo_table_contributi tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.3); /*Durante la stampa questa istruzione viene ignorata*/
}

#profilo_table_contributi td:nth-child(2), td:nth-child(3) {
  text-align: center;
}
