* {
  padding: 0em;
  margin: 0em;
  font-family: Verdana, Geneva, sans-serif;
  color: #000;
}

body {
  margin-top: 10mm;
  margin-left: 10mm;
  margin-right: 10mm;
  margin-bottom: 7mm;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

#header {
  text-align: center;
}

#header h1 {
  font-family: "Times New Roman", Times, serif;
}

#info_utente {
  display: none;
}

#hamburger {
  display: none;
}

#breadcrumb {
  text-align: center;
}

#menu {
  display: none;
}

#social{
  page-break-before: always;
}



.content h1, h2, h3, h4{
  padding: 2% 0% 2% 0%;
}


.content fieldset{
  display: none;
}



#info iframe{
  display: none;
}



#descrizione{
  text-justify: inter-word;
}

img#foto_iniziale{
  display: none;
}


#info p{
}






#foto_upload{
  display: none;
}
#campo_testo{
  display: none;
}

#lista_utenti{
  -webkit-column-count: 3; /* Old Chrome, Safari and Opera */
  -moz-column-count: 3; /* Old Firefox */
  column-count: 3;
}

#lista_utenti img{

  display: none;
}


.commit{
}

.commit img{
  display: none;
}

.commit p{

}


#footer {
  text-align: center;
  font-style: italic;
  padding-top: 0.25em;
}

#footer a {
  display: none;
}
