* {
    padding: 0em;
    margin: 0em;
    font-family: "Times New Roman", Times, serif;
}

body {
    margin-top: 10mm;
    margin-left: 10mm;
    margin-right: 10mm;
    margin-bottom: 7mm;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

#header {
    text-align: center;
}

#header h1 {
  font-family: Verdana, Geneva, sans-serif;
}

#info_utente {
  display: none;
}

#hamburger {
  display: none;
}

#breadcrumb {
    text-align: center;
}

#menu {
  display: none;
}

#footer {
  text-align: center;
  font-style: italic;
  padding-top: 0.25em;
}

#footer a {
  display: none;
}

/******* CSS PROFILO *******/

#profilo_nome_cognome {
  width: 60%;
  vertical-align: middle;
  display: inline-block;
}

#profilo h1 {
  text-align: center;
}

#profilo h2 {
  padding: 2%;
  text-align: center;
}

#profilo_nome_cognome img {
  height: 50%;
  width: 50%;
  display: block;
  margin: 0 auto;
}

#profilo_data_di_nascita img {
  width: 10%;
}

#profilo_data_di_nascita {
  display: inline-block;
  list-style-type: none;
  word-break: break-all;
  list-style-type: none;
  width: 39%;
}

#profilo_biografia {
  display: block;
  clear: right;
}

#profilo_table_contributi {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#profilo_colonna_data, #profilo_colonna_stato_attivita {
  width: 20%;
}

#profilo_table_contributi tr {
  border: 1px solid;
}

#profilo_table_contributi td:nth-child(2), td:nth-child(3) {
  text-align: center;
}
